
.details-profile-container {
    display: flex; /* Flexbox layout for the sidebar and main content */
}

.details-profile-main {
    margin-left: 250px; /* To make space for the sidebar */
    padding: 20px; /* Padding for the content */
    width: calc(100% - 250px); /* Adjust width to account for sidebar */
    background-color: white; /* Light background for the main content */
}
